@font-face {
    font-family: 'IosevkaTermSlab';
    src: url('../fonts/IosevkaTermSlabNerdFontMono-Regular-subset.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body, pre, code {
    font-family: "IosevkaTermSlab", sans-serif;
    background: #2A2A2A;
    color: #eee;
    padding: 1em;
}

pre {
    white-space: pre-wrap;
}

/* 删除线 */
.sgr-strike {
    text-decoration: line-through;
}
