@font-face {
    font-family: 'IosevkaTermSlab';
    src: url('../fonts/IosevkaTermSlabNerdFontMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body, pre, code {
    font-family: "IosevkaTermSlab", sans-serif;
    background: #2A2A2A;
    color: #eee;
    padding: 1em;
}

pre {
    white-space: pre-wrap;
}