@font-face {
    font-family: 'MonoCJK';
    src: url('../fonts/SarasaTermSlabSC-subset.woff2') format('woff2');
    font-display: swap;
}

body,
pre,
code {
    font-family:
        "MonoCJK",
        monospace;

    background: #2A2A2A;
    color: #eee;
    padding: 1em;

    text-rendering: geometricPrecision;
}

pre {
    white-space: pre;
}

/* 删除线 */
.sgr-strike {
    text-decoration: line-through;
}