name: daily update

on:
  #push: # don't trigger workflow from push
  #  branches: ["main"]

  schedule:
    - cron: "10 0 * * 5"
    # runs on 10:00 of everyday
    # 10:00 UTC = 18:00 Beijing
  workflow_dispatch:

permissions:
  contents: write
  # so github bot could commit changes

jobs:
  update-stocks:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v6

      - name: check market open
        id: check
        run: |
          if [ "${{ github.event_name }}" = "workflow_dispatch" ]; then
            echo "should_run=true" >> $GITHUB_OUTPUT
            exit 0
          fi

          pip install --upgrade chinese_calendar

          if python stock_market_open.py; then
            echo "should_run=true" >> $GITHUB_OUTPUT
          else
            echo "market closed today, skipping workflow"
            echo "should_run=false" >> $GITHUB_OUTPUT
          fi

      - name: clone quant-tracer
        if: steps.check.outputs.should_run == 'true'

        run: |
          git clone https://x-access-token:${{ secrets.KEY_QUANT_TRACER }}@github.com/w3ntao/quant-tracer.git
          pip install -r quant-tracer/requirements.txt

      - name: trace stocks
        if: steps.check.outputs.should_run == 'true'

        run: |
          cd quant-tracer
          python quant_tracer.py --blue
          python quant_tracer.py --blue > out-$(date +'%Y-%m-%d').txt
          mv out-$(date +'%Y-%m-%d').txt ../
          cd ..

      - name: commit changes
        if: steps.check.outputs.should_run == 'true'

        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git add out-*.txt
          git commit -m "[bot] daily update: $(date +'%Y-%m-%d')" || echo "No changes"
          git push
