name: daily update

on:
  #push: # don't trigger workflow from push
  #  branches: ["main"]

  schedule:
    - cron: "0 10 * * *"
    # runs on 10:00 of everyday
    # 10:00 UTC = 18:00 Beijing
  workflow_dispatch:

permissions:
  contents: write
  # so github bot could commit changes

jobs:
  update-stocks:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v6

      - name: Set DATE variable
        run: |
          echo "TODAY=$(date +'%Y-%m-%d')" >> $GITHUB_ENV

      - name: check market open
        id: check
        run: |
          pip install --upgrade chinese_calendar

          if [ "${{ github.event_name }}" = "workflow_dispatch" ]; then
            echo "should_run=true" >> $GITHUB_OUTPUT
            exit 0
          fi

          if python stock_market_open.py; then
            echo "should_run=true" >> $GITHUB_OUTPUT
          else
            echo "market closed today, skipping workflow"
            echo "should_run=false" >> $GITHUB_OUTPUT
          fi

      - name: clone quant-tracer
        if: steps.check.outputs.should_run == 'true'

        run: |
          git clone https://x-access-token:${{ secrets.KEY_QUANT_TRACER }}@github.com/w3ntao/quant-tracer.git
          pip install -r quant-tracer/requirements.txt

      - name: trace stocks
        if: steps.check.outputs.should_run == 'true'

        run: |
          cd quant-tracer
          python quant_tracer.py --blue
          python quant_tracer.py --blue > blue_stocks_latest.txt
          mv blue_stocks_latest.txt ../
          cd ..
          cp blue_stocks_latest.txt blue_stocks_$TODAY.txt

      - name: commit changes
        if: steps.check.outputs.should_run == 'true'

        run: |
          git config user.name "ci-bot"
          git config user.email "ci-bot@github.com"

          git add blue_stocks_*.txt
          git commit -m "[ci-bot] daily update: $TODAY" || echo "No changes"
          git push -u origin main

          git checkout -B backup-$TODAY
          git push -u origin backup-$TODAY
